Repository pipe-cd/manifests, pull requests merged in 2021-01, with the labels that each got.

#987 Update chart-releaser to v1.1.0
  .kapetanios/postsubmits.yaml
Labels: approved, area/kapetanios, size/XS

#990 Add khanhtc as a reviewer and approver
  OWNERS_ALIASES
Labels: approved, size/XS

#989 Add CI step to register a new Event
  .kapetanios/postsubmits.yaml
Labels: approved, area/kapetanios, size/S

#992 Revert "Add CI step to register a new Event (#989)"
  .kapetanios/postsubmits.yaml
Labels: approved, area/kapetanios, size/S

#1005 Remove secret file for Kapetanios
  .kapetanios/secret.yaml
Labels: approved, area/kapetanios, size/XS

#1006 Add CI Job to send the latest tag
  .kapetanios/postsubmits.yaml
Labels: approved, area/kapetanios, size/S

#1013 Update register-event build to use pipetcl:v0.9.5-22-gbd6e347
  .kapetanios/postsubmits.yaml
Labels: area/kapetanios, size/XS

#1014 Skip running register-event build on pull request events
  .kapetanios/postsubmits.yaml
Labels: approved, area/kapetanios, size/XS
